.container
  %h2 Brackets
  - @tasks.each do|task|
    = link_to task_path(task) do
      .card
        - if task.eyecatch.attached?
          = image_tag task.eyecatch, class:'eyecatch'         
        .card_title
          = task.title
        .card_content
          = task.content
  .card_add
    = link_to '+ Add new card ', new_task_path 